<template>
  <div class="container mt-5">
    <button class="btn btn-success float-right" @click="$router.push('/register')">Register</button>
    <h2>Login</h2>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input v-model="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input v-model="password" type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="button" class="btn btn-primary" @click="login">Submit</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    async login () {
      try {
        const response = await axios.post(process.env.VUE_APP_BASE_URL + '/login', {
          email: this.email,
          password: this.password
        })
        localStorage.setItem('jwt', response.data.token)

        this.$router.push('/')
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>
