<template>
  <div class="container mt-5">
    <h1 class="float-left">Home</h1>
    <div class="float-right d-flex align-items-center">
      <div class="mr-3">
        Hello: {{ user ? user.email : '' }}
      </div>
      <button class="btn btn-danger" @click="logout">Logout</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in listUsers" :key="user._id">
          <th scope="row">{{ user._id }}</th>
          <td>{{ user.displayName }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import axios from 'axios'
import io from 'socket.io-client'

export default {
  data () {
    return {
      user: null,
      listUsers: [],
      socket: null
    }
  },
  created () {
    this.getUser()
  },
  methods: {
    async getUser () {
      try {
        const token = localStorage.getItem('jwt')

        const response = await axios.get(process.env.VUE_APP_BASE_URL + '/user', {
          headers: {
            Authorization: 'Bearer ' + token
          }
        })

        this.user = response.data
        this.initSocket()
      } catch (error) {
        console.log(error)
        this.$router.push('/login')
      }
    },
    initSocket () {
      const socket = io(process.env.VUE_APP_BASE_URL, {
        reconnection: true,
        reconnectionDelay: 1000,
        reconnectionDelayMax: 5000,
        reconnectionAttempts: Infinity
      })

      socket.on('connect', () => {
        console.log('connected')
        socket.emit('get list users')
      })

      socket.on('disconnect', () => {
        console.log('disconnect')
      })

      socket.on('list users', data => {
        this.listUsers = data.listUsers

        socket.emit('join room', { user: this.user })
        const index = this.listUsers.findIndex(user => user._id === this.user._id)
        if (index === -1) {
          this.listUsers.push(this.user)
        }
      })

      socket.on('an user joined room', data => {
        const index = this.listUsers.findIndex(user => user._id === data.user._id)
        if (index === -1) {
          this.listUsers.push(data.user)
        }
      })

      socket.on('an user leaved room', data => {
        const index = this.listUsers.findIndex(user => user._id === data.user._id)
        if (index > -1) {
          this.listUsers.splice(index, 1)
        }
      })

      this.socket = socket
    },
    logout () {
      localStorage.removeItem('jwt')
      this.$router.push('/login')
      this.socket.disconnect()
    }
  }
}
</script>
