<template>
  <div class="container mt-5">
    <h2>Register</h2>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input required v-model="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input required v-model="password" type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword2">Display name</label>
        <input required v-model="displayName" type="text" class="form-control" id="exampleInputPassword2">
      </div>
      <button type="button" class="btn btn-primary" @click="login">Sign up</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      email: '',
      password: '',
      displayName: ''
    }
  },
  methods: {
    async login () {
      try {
        await axios.post(process.env.VUE_APP_BASE_URL + '/register', {
          email: this.email,
          password: this.password
        })

        this.$router.push('/login')
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>
